@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .text-animation{
    @apply select-none absolute  font-oxanium text-[80px];
    animation: text-animation 1s infinite;
  }
}